---
import { type CollectionEntry, getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');
  return projectEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

type Props = { entry: CollectionEntry<'projects'> };

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
	<article>
		<h1>{entry.data.title}</h1>
		<p><em>{entry.data.date.toDateString()}</em></p>
		<Content />
	</article>
</MainLayout>
